[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
	description = odlparent
[access "refs/*"]
	owner = group saml/odl-gerrit-odlparent-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
